
@{
    ViewData["Title"] = "Описание приложения";
}

 <h4>Краткое описание работ приложения</h4>
    <p> 
        Данное веб-приложение позволяет выполняять синтез цифровых фильтров. 
    </p>
       <h5>&nbsp;В качестве входных данных для синтеза фильтров задатся:</h5>
	<p>
       <ul>
	      <li><b>Rs </b> - неравномерность в полосе пропускания (Дб)</li>
	      <li><b>Rp </b> - подавление в полосе заграждение (Дб) </li>
	      <li><b>Wp </b> - приведенная частота пропускания (значение от 0 до 1) </li>
	      <li><b>Ws </b> - приведенная частота заграждения (значение от 0 до 1) </li>
	      <li><b>Filter type </b>
					- тип фильтра:
					<ul>
						<li><i>Lowpass</i> - фильтр нижних частот (ФНЧ)</li>
						<li><i>Highpass</i> - фильтр верхних частот (ФВЧ)</li>
						<li><i>Bandpass</i> - полосовой фильтр (ПФ)</li>
						<li><i>Bandstop</i> - режекторный (заграждающий) фильтр (РФ)</li>
					</ul>
		  </li>
	      <li><b>Тип аппорсимирующей кривой: </b>
					<ul>
						<li>Бфттерфортта</li>
						<li>Чебышева 1 рода</li>
						<li>Чебышева 2 рода</li>
						<li>Элипптический</li>
					</ul>
		  </li>
	    </ul>
	</p>
	<p>
		Для КИХ фильтров вместо типа аппорсимирующей кривой задается:
		<ul>
	      <li><b>Order</b> - порядок цифрового фильтра (для КИХ фильтров)</li>
		</ul>

		<h5>&nbsp;В результате работы программы выводися:</h5>
		<p>
			<ul>
			  <li><b>Az</b> - коэффициенты числителя передаточной функции цифрового фильтра. (равны 0 для КИХ фильтров)</li>
			  <li><b>Bz</b> - коэффициенты знаменателя передаточной функции цифрового фильтра.<br /></li> 
			</ul>
		</p>

		<p>
		  <b>Для БИХ фильтров дополнительно выводятся:</b>
		<ul>
		  <li><b>Z</b> - нули фильтра-прототипа</li>
	      <li><b>P</b> - полюса фильтра-прототипа</li>
	      <li><b>A</b> - коэффициенты числителя передаточной функции фильтра-прототипа</li> 
	      <li><b>B</b> - коэффициенты знаменателя передаточной функции фильтра- прототипа</li>       
		 </ul>

		  <p><b>А также строятся графики:</b></p>
		  <ul>
			  <li><b>AЧХ</b> - амплитудно-частотная характеристика цифрового фильтра </li>
			  <li><b>ФЧХ</b> - фазо-частотная характеристика цифрового фильтра </li>      
		 </ul>
    </p>